#dash {
	margin-top: 20px;
}

.dsh-box {
	border-left: 1px solid #b3b3b3;
	display: inline-block;
	max-width: 30%;
	padding: 0 10px;
	vertical-align: top;
}

.description {
	text-align: justify;
}

.read-more {
	text-align: right;
}

.dsh-box:first-child {
	border-left: none;
}

@media screen and (max-width: 600px) {
	.dsh-box {
		display: block;
		max-width: 100%;
		border-left: none;
		border-bottom: 1px solid #b3b3b3;
	}

	.dsh-box:last-child {
		border-bottom: none;
	}
}