.content .dashboard > div {
	border-left: 1px solid #b3b3b3;
	padding: 10px;
	vertical-align: top;
}

.content .dashboard > div p.description {
	text-align: justify;
}

.content .dashboard > div p.read-more {
	text-align: right;
}

.content .dashboard > div:first-child {
	border-left: none;
}

.dashboard > div {
	display: inline-block;
	max-width: 30%;
}

@media screen and (max-width: 600px) {
	.content .dashboard > div {
		display: block;
		max-width: 100%;

		border-left: none;
		border-bottom: 1px solid #b3b3b3;
	}

	.content .dashboard > div:last-child {
		border-bottom: none;
	}
}