.content .products {
	list-style: none;
	margin: 0;
	padding: 0;
}

.content .products li {
	display: block;
	float: left;
	font-size: 9pt;
	margin: 31px;
	width: 200px;
}

.content .products li img {
	display: block;
	width: 200px;
}

.content .products li .name {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 15px;
}

.content .products li .description {
	text-align: justify;
}

.content li .price {
	display: block;
	font-style: italic;
	font-weight: bold;
	position: relative;
	text-align: right;
	top: -20px;
}

.content .products li button {
	display: block;
	width: 100%;
}

.content .products > li.open .description {
	opacity: 1;
	height: auto;
	max-height: 500px;
}

.content .open .price {
	display: block;
}

@media screen and (max-width:560px) {
	.content .products > li {
		position: relative;

		width: 100%;
		border-bottom: 1px solid #E3E3E3;

		margin: 0;

		min-height: 60px;

		font-size: 1em;
		line-height: 60px;
	}

	.content .products > li img {
		width: 60px;
		float: left;

		margin: 10px 0;
	}

	.description {
		-webkit-transition: all .5s;

		opacity: 0;
		height: 0;

		line-height: 1em;
		overflow: hidden;
	}

	.content .products > li .name {
		font-size: 1em;
		margin-left: 10px;
	}

	.content .products > li .price {
		display: inline-block;
		margin-left: 5%;
		position: static;
	}

	.content .products > li button {
		margin: 10px;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
}

@media screen and (max-width:320px) {
	.content .products > li button {
		margin: 0;
		position: static;
		width: 100%;
	}
}